.App {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px 50px auto;
  height: 100vh;
}

header {
  grid-column: 1/8;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  height: 50px
}

.navButtons {
  align-self: center;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  align-self: center;
  padding: 10px;
}

.month{
  font-weight: bold;
}
.weekDays {
  justify-self: end;
  padding: 5px 3px;
  grid-row: 2;
  height: 25px;
}


